<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-100">
    <div class="min-h-screen flex flex-col md:flex-row">
      <!-- Sidebar -->
      <%= render "admin/shared/sidebar" %> 

      <!-- Main Content -->
      <main class="flex-1 p-6">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
